<div class = "headerdiv"><p><span class="bigger">WebLeecher</span> Beta v0.4.0</p></div>

<%= form_for(:search, :url => searches_path) do |f| %>
  <div id="searchnewleft">
    <div class="field">
      <%= f.label "Username:" %><br />
      <%= f.text_field :forumuser %>
    </div>

    <div class="field">
      <%= f.label "Password:" %><br />
      <%= f.password_field :forumpass %>
    </div>
    <div class="field">
      <%= f.label "Search Query:" %><br />
      <%= f.text_field :forumquery %>
    </div>

    <div>
    <p id = "troll" >Prefix:</p>
    <%= select_tag :prefixchoice, options_for_select([
        ["[MU] Megaupload", "MU"], ["[RS] Rapidshare", "RS"], ["[HF] Hotfile", "HF"],
        ["[x7] x7", "x7"], ["[NL] Netload", "NL"], ["[MS] Megashares", "MS"], ["[FSn] Filesonic", "SM"], 
        ["[MF] Mediafire", "MF"], ["[FF] Filefactory", "FF"], ["[DL] Duckload", "DL"], 
        ["[FSrv] Fileserve", "FS"], ["[UL] Uploading", "UL"], ["[DF] Depositfiles", "DF"], ["[FTP]", "FTP"], 
        ["[Other]", "Other"], ["[MULTI]", "Multi"], ["(any prefix)", ""], ["(no prefix)", "-1"]]), 
        :class => "prefixchoice", :multiple => false %>
    
    </div>
        <div>
      <%= f.check_box :dlc %> <span class = "smaller"> Generate DLC? </span>
    </div>
  </div>

  <div>
    <p id = "troll2">Category:</p>
    <%= select_tag :forumchoice, options_for_select([
        ["WHOLE SITE", "6"], 
        [" Applications", "51"],[" ---- 0Day Releases", "112"],
        [" Games", "43"], [" ---- Console Games", "76"],   
        [" Anime", "42"], [" ---- Manga", "44"], 
        [" Movies", "56"],[" ---- HD - 720p to 1080p", "89"], [" ---- DVDR", "100"], [" ---- TV Shows", "73"], 
        [" Music", "55"], [" ---- Music Videos", "84"], [" ---- OST", "86"], [" ---- Lossless Audio", "117"], 
        [" Comic Books", "68"], [" ---- 0Day Releases", "91"], [" ---- DC/Wildstorm/Vertigo", "70"], 
        [" ---- Image/TopCow", "71"], [" ---- Dark Horse", "88"], [" ---- Alternative Comic", "72"], 
        [" ---- Crossovers", "87"], 
        [" Ebooks & Tutorials", "58"], [" Web/Design Resources", "75"]]), 
        :class => "forumchoice", :multiple => true %>
    
  </div>
  <div class="actions" id = "Leech">
    <%= f.submit "Leech!", :id => "LeechButton" %>
    <input id = "ResetButton" type="reset" value="Reset all fields">
  </div>

  <!-- To be implemented
  <div id = "childforums">
    <%= f.check_box(:childforums) %>
    <%= f.label("Search in child forums.") %>
  </div>
  -->

<% end %>
<span class="smaller2"><%= version %></span>