<div><p><span class="bigger">Pick a thread</span></p></div>

<%= form_for(:search, :url => { :action => 'update'}) do |f| %>
  <% i = 1 %>
  <% default = true %>
  <% while (@threadlist[i][0]!=nil) %>
    <%= f.radio_button(:threadchoice, "#{@threadlist[i][1]}", { :checked => default }) %>
    <% default = false %>
    <%= f.label(:threadchoice, "#{@threadlist[i][0]}") %> <br />
    <% i = i + 1 %>
  <% end %>
  <div class="actions">
    <%= f.submit "Continue" %>
  </div>
<% end %>

<span class="smaller2"><%= version %></span>