<div><p><span class="bigger">Pick a thread</span></p></div>


<% i = 1 %>
<% while (@threadlist[i][0]!=nil) %>
  <%= "#{i} : #{@threadlist[i][0]}" %> <br />
  <% i = i + 1 %>
<% end %>
<%= form_for(:search, :url => { :action => 'update'}) do |f| %>
  <div class="field">
    <%= f.label "Pick a thread:" %><br />
    <%= f.text_field :threadchoice %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>


<span class="smaller2">WebLeecher ALPHA v0.3.2</span>
